.example-card {
    width:400px;
    max-width: 400px;
    float: left;
    margin: 10px;
    background-color: #FFFFFF;
    border: 1px solid white;
    box-shadow: none !important;
    box-sizing: border-box;
    padding-top: 0px;

    .title{
        text-align: center;
        padding-top: 10px 0px; 
        background-color:#C8F800;
        margin: 0px 90px;
        height: 100%;
        padding: 8px 0;
        margin-bottom: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-weight: bold;
        font-size: 18px;
    }

    .cost{
        text-align: center;
        padding-bottom: 30px;
        line-height: 15px;
        .price-symbol{
            padding-top: 20px;
            padding-bottom: 20px;
            line-height: 18px;
            .symbol{
                font-size: 50px;
                font-weight: bold;
                color: #00D03D;
                vertical-align: 10px;
            }
            .price{
                margin-left: -10px;
                font-weight: bold;
                color: #00D03D;
                font-size: 80px;
            }
        }
        .type{
            font-weight: bold;
            line-height: 10px;
        }
    }

    ul{
        list-style-type: none;
        li:before {
            list-style-position: outside;
            margin-left: -1.5em; 
            content: "\2713";
            color: #00D03D;
            line-height: 30px;
          }
    }

    .button{
        margin:auto;
        display:block;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 3px;
        margin-bottom:10px;
    }

    .buttonactive{
        background-color: #87F0B2;
    }

    .buttondisable{
        background-color: #00D03D;
     }
    
  }
  

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  @media(max-width: 500px) {
      .example-card {
          width: 95%;
      }
  }