<mat-card class="example-card">
  <div class="title">You are here</div>
  <div class="cost">
    <div class="price-symbol">
      <span class="symbol"><sup>&#36;</sup></span>
      <span class="price">0</span>
      <br> Per month 
    </div> 
    <br><div class="type"> N E W B I E </div>  
    <br>To try it out
  </div>
  <mat-card-content>
      <ul>
        <li> 10 meetings per month </li>
        <li> Maximum 5 users</li>
        <li> Can record meetings upto 15 minutes<br> per meeting</li>
      </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="button buttonactive">Get started</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <div class="title">You are here</div>
    <div class="cost">
      <div class="price-symbol">
        <span class="symbol"><sup>&#36;</sup></span>
        <span class="price">50</span>
        <br> Per month 
      </div> 
      <br><div class="type"> P R E M I U M </div>  
      <br>For Startups
    </div>
    <mat-card-content>
        <ul>
          <li> 100 meetings per month </li>
          <li> Maximum 40 users</li>
          <li> Can record meetings upto 1 hour<br> per meeting</li>
        </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="button buttondisable">Upgrade Plan</button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
      <div class="title">You are here</div>

      <div class="cost">
        <div class="price-symbol">
          <span class="symbol"><sup>&#36;</sup></span>
          <span class="price">99</span>
          <br> Per month 
        </div> 
        <br><div class="type"> U L T I M A T E </div>  
        <br>For Enterprises
      </div>
      <mat-card-content>
          <ul>
            <li> Unlimited meetings per month </li>
            <li> Unlimited users</li>
            <li> Can record upto 5 hour<br> per meeting</li>
          </ul>
      </mat-card-content>
      <mat-card-actions>
      <button mat-button class="button buttondisable">Upgrade Plan</button>
      </mat-card-actions>
</mat-card>
