<div class="popup"> 
  <div class="close">
        <button mat-button class="close-btn" [mat-dialog-close]="data.animal" cdkFocusInitial><img src ="assets/img/close.svg" class="center"></button>
  </div>
  <div class="heading">How to start a new meeting?</div>
  <div class="content">
    <mat-card class="example-card">
      <img src ="assets/img/download.svg" class="center">
      <div class="step">Step 1</div>
      <br>
      <mat-card-content class="mat">
          <span class="download">Download</span> and Install our Frejun taskbar app
      </mat-card-content>
    </mat-card>
      <mat-card class="example-card">
      <img src ="assets/img/new_first.svg" class="center">
        <div class="step">Step 2</div>
        <br>
        <mat-card-content class="mat">
            Click on "New" and start recording meeting in new app.
        </mat-card-content>
      </mat-card>
        <mat-card class="example-card">
        <img src ="assets/img/extract_first.svg" class="center">
        <div class="step3">Step 3</div>
        <br>
          <mat-card-content class="mat">
              Once recorded and synced your meetings will appear here.
          </mat-card-content>
        </mat-card>
  </div>
 </div>

