.popup{
    border: 1px solid white;
    box-shadow: none !important;
    box-sizing: border-box;
    border-radius: 15px;
    
    .close{
        padding-top: 0px;
        button:focus { outline: none; }
        .close-btn{
            background-color: #FFFFFF;
            float: right;
            border:none;
        }
    }

    .heading{
        padding-top: 30px; 
        font-weight: bold;
    }

    .content{
        .example-card {
            width:160px;
            max-width: 160px;
            height: 225px;
            float: left;
            background-color: #FFFFFF;
            padding: 20px 20px;
            margin: 20px 25px;
            border: 1px solid #EAEAEA;
            box-shadow: none !important;
            border-radius: 10px;
            font-size: 15px;
            .center{
                margin-top: 5px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 70%;
            }
            .step{
                margin-top: 35px;
                text-align: center;
                font-weight: bold;
                font-size: 17px;
            }
            .step3{
                margin-top: 50px;
                text-align: center;
                font-weight: bold;
                font-size: 17px;
            }
            .mat{
                margin-top: -10px;
                .download{
                    color: #00D854;
                }
            }
        }
    }
    

    
}


