/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.custom-dialog-container .mat-dialog-container {
    /* add your styles */
    height: 400px;
    width: 800px;
    box-shadow: none !important;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px 20px;
}